<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="head-menu-wrapper" th:fragment="header">
    <div th:class="(${headerClass?: 'head-menu'}) + ' pure-menu pure-menu-horizontal'">
        <a th:href="@{/}" class="pure-menu-heading site-title" id="site-name" th:text="${headerTitle}">Overseer Service</a>
    </div>
</nav>
</body>
</html>