<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="'Overseer Service'"></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/lib/purecss/pure-min.css}">
    <link rel="stylesheet" th:href="@{/css/lib/fontawesome/fontawesome-all.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <style>
        @font-face {
            font-family: Font Awesome\ 5 Free;
            font-style: normal;
            font-weight: 400;
            src: url(../../../fonts/fontawesome/fa-regular-400.woff2) format("woff2");
        }

        @font-face {
            font-family: 'Font Awesome 5 Free';
            font-style: normal;
            font-weight: 900;
            src: url(../../../fonts/fontawesome/fa-solid-900.woff2) format("woff2");
        }
    </style>
</head>
</html>