html, body {
    height: 100%;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: rgba(242, 242, 242, 0.15);
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="file"] {
    display: none;
}

thead {
    background-color: rgb(0, 176, 255) !important;
    color: white !important;
}

button {
    background-color: rgb(0, 176, 255) !important;
    border-radius: 4px !important;
    border: 1px solid rgb(0, 176, 255);
}

.button {
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.file-upload {
    background-color: white !important;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
}

.full-width {
    width: 100%;
}

.head-menu .pure-menu-link {
    color: #000;
}

.head-menu-wrapper {
    background-color: rgb(0, 176, 255);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    width: 100%;
    height: 43px;
    z-index: 1000;
}

.head-menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.site-title {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 100;
    font-size: 1.7em;
    color: #fff;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 60px;
}

.left-arrow {
    padding-right: 5px;
}

.right-arrow {
    padding-left: 5px;
}

.page-content {
    padding-top: 100px;
}

.standard-page {
    max-width: 500px;
}

.centered-wrapper {
    height: 90%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.centered-wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -2em;
}

.centered-wrapper > div,
.centered-wrapper > form {
    vertical-align: middle;
    display: inline-block;
    margin-left: 2em;
}

.login-error {
    padding-top: 2px;
    padding-bottom: 5px;
    color: #cc0020;
}

.cards-container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);

    display: block;

    font-family: 'Fira Sans', sans-serif !important;
    font-size: 0.9em;
    overflow-wrap: break-word;

    padding: 5px;
}

.refresh-card {
    margin-bottom: 15px;
    padding: 7px;
    font-size: 1.3em;
    text-align: center;
}

.standard-card {
    margin-bottom: 20px;
    width: 490px; /* because of paddings */
}

.user-card {
    height: 128px;
}

.avatar {
    height: 128px;
    width: 128px;
}

.user-info {
    padding-top: 2px;
    position: relative;
}

.user-info-line {
    padding-bottom: 4px;
}

.user-info-line-text {
    padding-left: 2px;
}

.connection-status {
    float: right;
    font-size: 0.8em;
    line-height: 120px; /* hack */
}

.connected {
    font-size: 1.1em;
    color: #00921e;
}

.disconnected {
    color: #cc0020;
}

.activity-info {
    position: absolute;
    bottom: 0;
    padding-bottom: 3px;
}

.activity-info-line {
    line-height: 1em;
}

.activity-status {
    font-size: 0.6em;
    vertical-align: text-bottom;
}

.activity-status-green {
    color: #00921e;
}

.activity-status-orange {
    color: #f8880b;
}

.activity-status-red {
    color: #cc0020;
}

.activity-text {
    margin-left: -3px;
}

.activity-date {
    margin-left: -2px;
    font-size: 0.9em;
    margin-right: 2px;
    vertical-align: text-bottom;
}

.wide-page {
    max-width: 1024px;
    width: 1024px
}

.user-page-header {
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.user-removal-form {
    margin-top: -40px;
    margin-bottom: 50px;
    width: 98%;
    font-size: 0.8em;
}

.user-props-line {
    height: 55px;
}

.element-bottom-error {
    padding: 4px;
    color: #cc0020;
    font-size: 0.8em;
    overflow: hidden;
}

.user-avatar-upload {
    background-color: rgb(0, 176, 255) !important;
    border-radius: 4px;
}

.user-prop-submit {
    margin-left: 20px;
}

#submit-avatar-button {
    margin-top: .5em;
}

.wide-card {
    width: 98%;
    margin-bottom: 15px;
}

.sub-header {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    padding-left: 3px;
    padding-bottom: 3px;
}

.no-apps {
    color: white;
    text-align: center;
    line-height: 35px;
}

.no-appropriate-apps {
    background-color: #f8880b;
}

.no-inappropriate-apps {
    background-color: #00921e;
}

.remove-button {
    background-color: #cc0020 !important;
}

.settings-general-line {
    padding-left: 5px;
    margin-bottom: 10px;
    height: 50px;
}

.settings-submit-wrapper {
    padding-left: 5px;
    margin-bottom: -5px;
}

.settings-general-hint {
    line-height: 2.5em;
    padding-left: 10px;
}

.patterns-table {
    width: 100%;
}

.pattern-cell {
    width: 100%;
    max-width: 0;
}

.pattern-cell input {
    padding: .4em .4em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 0.9em;
}

.pattern-button {
    background-color: transparent !important;
    border: none;
}

.error-text {
    color: rgb(0, 176, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 10em;
    margin: 0 !important;
}

.error-subtext {
    font-size: .15em;
    color: #cccccc;
    margin-top: -20px;
}