<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<div>
    <nav class="head-menu-wrapper" th:fragment="header">
        <div class="user-page-header pure-menu pure-menu-horizontal pure-g">
            <div class="pure-u-21-24">
                <a th:href="@{/admin/settings}" class="pure-menu-heading site-title" id="site-name">Settings</a>
            </div>
            <div class="pure-u-3-24">
                <a th:href="@{/admin/users}" class="pure-menu-heading site-title">
                    <i class="fas fa-angle-double-left left-arrow"></i>Users
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="page-content wide-page cards-container">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="card wide-card">
                <form class="pure-form" th:action="@{/admin/settings/general/update}" th:object="${params}" method="post">
                    <fieldset>
                        <div class="pure-control-group settings-general-line">
                            <div class="pure-g">
                                <label class="pure-u-5-24" for="whispering">Whispering Interval</label>
                                <input class="pure-u-7-24" type="number" th:max="${T(java.lang.Integer).MAX_VALUE}" id="whispering"
                                       th:field="*{whisperingIntervalMillis}" placeholder="Whispering Interval">
                                <span class="pure-u-11-24 pure-form-message-inline settings-general-hint">How often client should send its process info (in milliseconds)</span>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-5-24"></div>
                                <div class="pure-u-18-24 element-bottom-error" th:if="${#fields.hasErrors('whisperingIntervalMillis')}">
                                    <span th:text="${#fields.errors('whisperingIntervalMillis').get(0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="pure-control-group settings-general-line">
                            <div class="pure-g">
                                <label class="pure-u-5-24" for="params-polling">Parameters Polling Interval</label>
                                <input class="pure-u-7-24" type="number" th:max="${T(java.lang.Integer).MAX_VALUE}" id="params-polling"
                                       th:field="*{paramsPollingIntervalMillis}" placeholder="Parameters Polling Interval">
                                <span class="pure-u-11-24 pure-form-message-inline settings-general-hint">How often client should poll server for new parameters  (in milliseconds)</span>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-5-24"></div>
                                <div class="pure-u-18-24 element-bottom-error" th:if="${#fields.hasErrors('paramsPollingIntervalMillis')}">
                                    <span th:text="${#fields.errors('paramsPollingIntervalMillis').get(0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="pure-control-group settings-submit-wrapper">
                            <div class="pure-g">
                                <button type="submit" class="pure-button pure-button-primary full-width">Update general settings</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="pure-u-1-2">
            <div class="card standard-card">
                <div class="pure-menu-heading sub-header">
                    Inappropriate patterns
                </div>
                <table class="pure-table pure-table-horizontal patterns-table">
                    <thead>
                    <tr>
                        <th>Pattern</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="pattern : ${params.inappropriatePatterns}">
                        <form th:action="@{/admin/settings/pattern/update}" method="post">
                            <input type="hidden" name="type" value="inappropriate">
                            <input type="hidden" name="originalPattern" th:value="${pattern}">
                            <td class="pattern-cell">
                                <input type="text" name="pattern" placeholder="Pattern" th:value="${pattern}" class="full-width">
                                <div class="element-bottom-error" th:if="${pattern == inappropriateErroneousPattern}">
                                    <span th:text="${inappropriatePatternError}"></span>
                                </div>
                            </td>
                            <td>
                                <button type="submit" class="pattern-button" title="Edit pattern"><i class="fas fa-edit"></i></button>
                            </td>
                        </form>

                        <td>
                            <form th:action="@{/admin/settings/pattern/remove}" method="post">
                                <input type="hidden" name="type" value="inappropriate">
                                <input type="hidden" name="pattern" th:value="${pattern}">
                                <button type="submit" class="pattern-button" title="Remove pattern">
                                    <i class="far fa-times-circle"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <form th:action="@{/admin/settings/pattern/add}" method="post">
                            <input type="hidden" name="type" value="inappropriate">
                            <td class="pattern-cell">
                                <input type="text" name="pattern" placeholder="Pattern" th:value="${inappropriateNewErroneousPattern}"
                                       class="full-width">
                                <div class="element-bottom-error" th:if="${inappropriateNewPatternError}">
                                    <span th:text="${inappropriateNewPatternError}"></span>
                                </div>
                            </td>
                            <td colspan="2">
                                <button type="submit" class="pattern-button" title="Add pattern"><i class="fas fa-plus"></i></button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pure-u-1-2">
            <div class="card standard-card">
                <div class="pure-menu-heading sub-header">
                    Appropriate patterns
                </div>
                <table class="pure-table pure-table-horizontal patterns-table">
                    <thead>
                    <tr>
                        <th>Pattern</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="pattern : ${params.appropriatePatterns}">
                        <form th:action="@{/admin/settings/pattern/update}" method="post">
                            <input type="hidden" name="type" value="appropriate">
                            <input type="hidden" name="originalPattern" th:value="${pattern}">
                            <td class="pattern-cell">
                                <input type="text" name="pattern" placeholder="Pattern" th:value="${pattern}" class="full-width">
                                <div class="element-bottom-error" th:if="${pattern == appropriateErroneousPattern}">
                                    <span th:text="${appropriatePatternError}"></span>
                                </div>
                            </td>
                            <td>
                                <button type="submit" class="pattern-button" title="Edit pattern"><i class="fas fa-edit"></i></button>
                            </td>
                        </form>

                        <td>
                            <form th:action="@{/admin/settings/pattern/remove}" method="post">
                                <input type="hidden" name="type" value="appropriate">
                                <input type="hidden" name="pattern" th:value="${pattern}">
                                <button type="submit" class="pattern-button" title="Remove pattern">
                                    <i class="far fa-times-circle"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <form th:action="@{/admin/settings/pattern/add}" method="post">
                            <input type="hidden" name="type" value="appropriate">
                            <td class="pattern-cell">
                                <input type="text" name="pattern" placeholder="Pattern" th:value="${appropriateNewErroneousPattern}"
                                       class="full-width">
                                <div class="element-bottom-error" th:if="${appropriateNewPatternError}">
                                    <span th:text="${appropriateNewPatternError}"></span>
                                </div>
                            </td>
                            <td colspan="2">
                                <button type="submit" class="pattern-button" title="Add pattern"><i class="fas fa-plus"></i></button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>