<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<div>
    <nav class="head-menu-wrapper" th:fragment="header">
        <div class="user-page-header pure-menu pure-menu-horizontal pure-g">
            <div class="pure-u-20-24">
                <a th:href="@{|/admin/users/${info.userInfo.user.uuid}|}" th:text="${info.userInfo.user.username?: info.userInfo.user.computerName}"
                   class="pure-menu-heading site-title" id="site-name">User</a>
            </div>
            <div class="pure-u-4-24">
                <a th:href="@{/admin/users}" class="pure-menu-heading site-title">
                    <i class="fas fa-angle-double-left left-arrow"></i>All Users
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="page-content wide-page cards-container">
    <form class="user-removal-form pure-form" th:action="@{|/admin/users/${info.userInfo.user.uuid}/delete|}" method="post">
        <fieldset>
            <div class="pure-g">
                <div class="pure-u-21-24"></div>
                <div class="pure-u-3-24">
                    <button type="submit" class="remove-button pure-button pure-button-primary full-width" id="user-remove-submit"
                            title="This action cannot be undone">Remove user
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="pure-g" th:with="user=${info.userInfo.user}">
        <div class="pure-u-1-2">
            <div class="card standard-card user-card">
                <div class="pure-g">
                    <div class="pure-u-7-24">
                        <img th:if="${info.userpic != null}" class="avatar" th:src="@{${info.userpic}}" alt="avatar">
                        <img th:if="${info.userpic == null}" class="avatar" th:src="@{/img/no-avatar.png}" alt="avatar">
                    </div>
                    <div class="pure-u-17-24 user-info">
                        <div class="connection-status">
                            <i th:if="${user.active}" class="fas fa-link connected" title="User connected"></i>
                            <i th:if="${not user.active}" class="fas fa-unlink disconnected" title="User disconnected"></i>
                        </div>

                        <div class="user-info-line pure-u-23-24">
                            <div class="pure-u-1-24">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="pure-u-22-24 user-info-line-text">
                                <span th:text="${user.username?: 'Username not set'}"></span>
                            </div>
                        </div>

                        <div class="user-info-line pure-u-23-24">
                            <div class="pure-u-1-24">
                                <i class="fas fa-tv"></i>
                            </div>
                            <div class="pure-u-22-24 user-info-line-text">
                                <span th:text="${user.computerName}"></span>
                            </div>
                        </div>

                        <div class="activity-info pure-u-23-24" th:if="${info.userInfo.lastSnapshot}">
                            <div th:with="snap=${info.userInfo.lastSnapshot}">
                                <div class="activity-info-line pure-u-23-24" th:title="${user.active} ? 'Last snapshot' : 'Last seen'">
                                    <div class="activity-date pure-u-1-24">
                                        <i class="far fa-clock"></i>
                                    </div>
                                    <div class="pure-u-22-24" th:with="dateTime=${snap.dateTime}">
                                        <span th:text="${#calendars.format(dateTime,'dd.MM.yyyy HH:mm:ss z')}"></span>
                                    </div>
                                </div>

                                <div class="activity-info-line pure-u-23-24" th:if="${user.active}">
                                    <div th:class="(${#lists.isEmpty(snap.inappropriateProcesses)}? 'activity-status-green' : 'activity-status-red') + ' activity-status pure-u-1-24'">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                    <div class="pure-u-22-24" th:switch="${#lists.size(snap.inappropriateProcesses)}"
                                         th:with="inappropriateCount=${#lists.size(snap.inappropriateProcesses)}">
                                        <span th:case="0" th:text="'No apps from inappropriate list running'"></span>
                                        <span th:case="1" th:text="${inappropriateCount} + ' app from inappropriate list running'"></span>
                                        <span th:case="*" th:text="${inappropriateCount} + ' apps from inappropriate list running'"></span>
                                    </div>
                                </div>

                                <div class="activity-info-line pure-u-23-24" th:if="${user.active}">
                                    <div th:class="(${#lists.isEmpty(snap.appropriateProcesses)}? 'activity-status-orange' : 'activity-status-green') + ' activity-status pure-u-1-24'">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                    <div class="pure-u-22-24" th:switch="${#lists.size(snap.appropriateProcesses)}"
                                         th:with="appropriateCount=${#lists.size(snap.appropriateProcesses)}">
                                        <span th:case="0" th:text="'No apps from appropriate list running'"></span>
                                        <span th:case="1" th:text="${appropriateCount} + ' app from appropriate list running'"></span>
                                        <span th:case="*" th:text="${appropriateCount} + ' apps from appropriate list running'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pure-u-1-2">
            <div class="card standard-card user-card">
                <div class="pure-g">
                    <div class="user-info pure-u-1-1">
                        <div class="user-props-line">
                            <form class="pure-form" th:action="@{|/admin/users/${user.uuid}/name|}" method="post">
                                <fieldset>
                                    <div class="pure-g">
                                        <div class="pure-u-15-24">
                                            <input type="text" name="username" placeholder="Username" th:value="${user.username}" class="full-width">
                                        </div>
                                        <div class="pure-u-8-24">
                                            <button type="submit" class="user-prop-submit pure-button pure-button-primary full-width">Update username
                                            </button>
                                        </div>
                                    </div>
                                    <div class="element-bottom-error" th:if="${usernameError}">
                                        <span th:text="${usernameError}"></span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="user-props-line">
                            <form class="pure-form" th:action="@{|/admin/users/${user.uuid}/avatar|}" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <div class="pure-g">
                                        <div class="pure-u-15-24">
                                            <label for="avatar-file" class="button pure-button full-width file-upload">
                                                <i class="fas fa-image"></i> Choose image
                                            </label>
                                        </div>
                                        <div class="pure-u-8-24">
                                            <button type="submit" class="user-prop-submit pure-button pure-button-primary full-width"
                                                    id="submit-avatar-button">
                                                <i class="fas fa-cloud-upload-alt"></i> Update avatar
                                            </button>
                                        </div>
                                    </div>
                                    <input id="avatar-file" name="avatar" type="file" accept=".jpg,.jpeg,.png"/>
                                    <div class="element-bottom-error" th:if="${avatarError}">
                                        <span th:text="${avatarError}"></span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pure-u-1" th:if="${user.active && info.userInfo.lastSnapshot != null}"
             th:with="inappropriate=${info.userInfo.lastSnapshot.inappropriateProcesses}">
            <div class="card wide-card">
                <div th:if="${not #lists.isEmpty(inappropriate)}">
                    <div class="pure-menu-heading sub-header">
                        Inappropriate apps
                    </div>
                    <table class="pure-table pure-table-horizontal full-width">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Process Name</th>
                            <th>Command Line</th>
                            <th>PID</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="process : ${inappropriate}">
                            <td th:text="${process.caption}"></td>
                            <td th:text="${process.name}"></td>
                            <td th:text="${process.commandLine}"></td>
                            <td th:text="${process.id}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(inappropriate)}">
                    <div class="sub-header no-apps no-inappropriate-apps">
                        No apps from inappropriate list running
                    </div>
                </div>
            </div>
        </div>

        <div class="pure-u-1" th:if="${user.active && info.userInfo.lastSnapshot != null}"
             th:with="appropriate=${info.userInfo.lastSnapshot.appropriateProcesses}">
            <div class="card wide-card">
                <div th:if="${not #lists.isEmpty(appropriate)}">
                    <div class="pure-menu-heading sub-header">
                        Appropriate apps
                    </div>
                    <table class="pure-table pure-table-horizontal full-width">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Process Name</th>
                            <th>Command Line</th>
                            <th>PID</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="process : ${appropriate}">
                            <td th:text="${process.caption}"></td>
                            <td th:text="${process.name}"></td>
                            <td th:text="${process.commandLine}"></td>
                            <td th:text="${process.id}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(appropriate)}">
                    <div class="sub-header no-apps no-appropriate-apps">
                        No apps from appropriate list running
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>