<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<div>
    <nav class="head-menu-wrapper" th:fragment="header">
        <div class="head-menu pure-menu pure-menu-horizontal pure-g">
            <div class="pure-u-18-24">
                <a th:href="@{/admin/users}" class="pure-menu-heading site-title" id="site-name">Users</a>
            </div>
            <div class="pure-u-6-24">
                <a th:href="@{/admin/settings}" class="pure-menu-heading site-title">
                    Settings<i class="fas fa-angle-double-right right-arrow"></i>
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="page-content standard-page cards-container">
    <a href="" class="button card refresh-card">
        <div>
            <i class="fas fa-redo"></i>
        </div>
    </a>

    <a class="button card standard-card user-card" th:each="info : ${userInfos}" th:href="@{|/admin/users/${info.userInfo.user.uuid}|}">
        <div class="pure-g" th:with="user=${info.userInfo.user}">
            <div class="pure-u-7-24">
                <img th:if="${info.userpic != null}" class="avatar" th:src="@{${info.userpic}}" alt="avatar">
                <img th:if="${info.userpic == null}" class="avatar" th:src="@{/img/no-avatar.png}" alt="avatar">
            </div>
            <div class="pure-u-17-24 user-info">
                <div class="connection-status">
                    <i th:if="${user.active}" class="fas fa-link connected" title="User connected"></i>
                    <i th:if="${not user.active}" class="fas fa-unlink disconnected" title="User disconnected"></i>
                </div>

                <div class="user-info-line pure-u-23-24" th:if="${user.username}">
                    <div class="pure-u-1-24">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="pure-u-22-24 user-info-line-text">
                        <span th:text="${user.username}"></span>
                    </div>
                </div>

                <div class="user-info-line pure-u-23-24">
                    <div class="pure-u-1-24">
                        <i class="fas fa-tv"></i>
                    </div>
                    <div class="pure-u-22-24 user-info-line-text">
                        <span th:text="${user.computerName}"></span>
                    </div>
                </div>

                <div class="activity-info pure-u-23-24" th:if="${info.userInfo.lastSnapshot}">
                    <div th:with="snap=${info.userInfo.lastSnapshot}">
                        <div class="activity-info-line pure-u-23-24" th:title="${user.active} ? 'Last snapshot' : 'Last seen'">
                            <div class="activity-date pure-u-1-24">
                                <i class="far fa-clock"></i>
                            </div>
                            <div class="pure-u-22-24" th:with="dateTime=${snap.dateTime}">
                                <span th:text="${#calendars.format(dateTime,'dd.MM.yyyy HH:mm:ss z')}"></span>
                            </div>
                        </div>

                        <div class="activity-info-line pure-u-23-24" th:if="${user.active}">
                            <div th:class="(${#lists.isEmpty(snap.inappropriateProcesses)}? 'activity-status-green' : 'activity-status-red') + ' activity-status pure-u-1-24'">
                                <i class="fas fa-circle"></i>
                            </div>
                            <div class="pure-u-22-24" th:switch="${#lists.size(snap.inappropriateProcesses)}"
                                 th:with="inappropriateCount=${#lists.size(snap.inappropriateProcesses)}">
                                <span th:case="0" th:text="'No apps from inappropriate list running'"></span>
                                <span th:case="1" th:text="${inappropriateCount} + ' app from inappropriate list running'"></span>
                                <span th:case="*" th:text="${inappropriateCount} + ' apps from inappropriate list running'"></span>
                            </div>
                        </div>

                        <div class="activity-info-line pure-u-23-24" th:if="${user.active}">
                            <div th:class="(${#lists.isEmpty(snap.appropriateProcesses)}? 'activity-status-orange' : 'activity-status-green') + ' activity-status pure-u-1-24'">
                                <i class="fas fa-circle"></i>
                            </div>
                            <div class="pure-u-22-24" th:switch="${#lists.size(snap.appropriateProcesses)}"
                                 th:with="appropriateCount=${#lists.size(snap.appropriateProcesses)}">
                                <span th:case="0" th:text="'No apps from appropriate list running'"></span>
                                <span th:case="1" th:text="${appropriateCount} + ' app from appropriate list running'"></span>
                                <span th:case="*" th:text="${appropriateCount} + ' apps from appropriate list running'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
</body>
</html>